
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300..900&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: "Red Hat Display", sans-serif;
}

:root{
    --cyan-600: #4D96A9;
    --cyan-300: #8FE3F9;
    --purple-600: #855FB1;
    --purple-300: #D9B8FF;
    --slate-900: #28283D;
    --slate-600: #87879D;
    --slate-300:#D1D1DF;
    --white:#FAFAFA;
}
/************************************************/
/*logo*/
.logo{
    display:flex;
    justify-content: center;
    margin-top: 48px;
}

.logo > img{
    width:118px;
}

/*hero*/

.hero{
    padding-top: 64px;
    display: flex;
    flex-direction: column;
    gap: 48px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 64px;
}

.hero-banner > img{
    max-width: 100%;
}

.left-images, .right-images{
    display: none;
}

.content{
 max-width: 85%;
 margin-inline: 32px;
 text-align: center;
 display: flex;
 flex-direction: column;
 gap: 24px;
}

h1, h2, h3{
    line-height: 110%;
    font-weight: 900;
}

.content  h1{
   font-size: 40px;
   color: var(--slate-900);
}

.content p{
    font-size: 16px;
    line-height: 150%;
    color: var(--slate-600);
    font-weight: 500;
}

.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:16px;
}

.btn{
   background-color: var(--purple-600); 
   color: var(--white);
   border: none;
   border-radius: 29px;
   max-width: max-content;
   white-space: nowrap;
   padding: 16px 40px;
   font-size: 16px;
   font-weight: 900;
   line-height: 150%;
}
.btn span{
    opacity: 50%;
}

.btn:first-of-type{
    background-color: var(--cyan-600);
}

/*main*/
.main-content{
    display: flex;
    gap: 64px;
    flex-direction: column;
    justify-content: center;
    margin-bottom:64px;
    align-items: center; 
}

.images{
    padding-inline:32px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 16px;
}

.images img{
   max-width: 100%;
}

.content h3{
    color: var(--cyan-600);
    font-size: 12px;
    letter-spacing: 4px;
}

.content h2{
    font-size: 32px;
    color: var(--slate-900);
}


/*Footer*/
footer{
    margin-top: 164px;
    display: flex;
    flex-direction: column;
    position: relative;
}

footer .number{
    position: absolute;
    top: -30%;
    left: 50%;
    transform: translateX(-50%);
}

footer .content{
    max-width: 100%;
    background-image: url(images/footer.png);
    background-size: cover;
    background-position: center;
    margin: 0;
    padding:64px 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .content h2{
    color: var(--white);
    font-size: 32px;
}
 
footer .content p {
   color: var(--white);
}

footer .content .btn{
    background-color: var(--purple-600);
}


/*************Media Queries************/
@media screen and (min-width:748px){
 /*hero*/

 .hero{
    margin-bottom:88px;
 }
 
 .content{
    margin-inline: 44px;
    max-width: 60%;
 }

 .buttons{
    flex-direction: row;
 }

 /*main*/
 .images{
    grid-template-columns: repeat(4, 1fr);
    gap:24px;
 }

 /*footer*/
 footer .number{
    top: -36%
 }
    
}

@media screen and (min-width: 991px) {

    .hero-banner{
        display: none;
    }

    .hero{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap:8px;
    }

    .images-wrapper{
        display: flex;
    }

    .right-images, .left-images{
        display: flex;
        max-width:100%;
        flex:1
    }

    .content{
        max-width: 35%;
        gap:32px;
    }

    .content h1{
        font-size: 64px;
        padding-inline: 10%;
        text-align: center;
    }
    
    .content h2{
        font-size: 40px;
    }

    .content h3{
        font-size: 16px;
    }

    .content p{
        font-size: 18px;
        padding-inline: 15%;
    }

    .images{
        gap:32px;
        grid-template-columns: repeat(4, 1fr);
    }

    footer .content{
        flex-direction: row;
        justify-content: space-between;
        padding:112px 80px;
    }

    footer .content h2{
        font-size: 40px;
        max-width: 30%;
        text-align: left;
        padding-right: 20px;
    }

    footer .content p{
        font-size: 18px;
        text-align: left;
        padding-right:10%
    }

    
}
